<tr>
  <td><%= gist.user.email %></td>
  <td><%= link_to question_shortener(gist.question),  admin_question_path(gist.question) %></td>
  <td><%= link_to gist_hash(gist.url), gist.url, target: '_blank' %></td>
</tr>
