<h1>The <%= @test_passage.test.title %> Test was Completed!</h1>

<h2>
  <% if @test_passage.success? %>
    <div class="success">
      <b><%= @test_passage.test_result %></b>
      <p>Test passed successfully!</p>
    </div>
  <% else %>
    <div class="fail">
      <%= "You must get more than 85%, you got #{test_result}" %>
    </div>
  <% end %>
</h2>

<br>
<%= button_to 'Test List', tests_path %>