<div>
  <%= Time.current.year %>
</div>
<div>
  <h2>Автор:</h2><br>
  <p>Никита Сидоров</p>
</div>
<div>
  <div>
    <p>Ссылка на проект:</p>
    <a href="https://github.com/KebabJoy/Test-Guru" target="_blank">Test-Guru</a>
  </div>
  <div>
    <a href="thinknetica.com">Учебный проект в онлайн-школе Thinknetica </a>
    <p>для создания и прохождения тестов</p>
  </div>
</div>

