<div>
  <%= current_year %>
</div>
<div>
  <h2>Автор:</h2><br>
  <p>Никита Сидоров</p>
</div>
<div>
  <div>
    <p>Ссылка на проект:</p>
    <%= github_url('Test-Guru', 'https://github.com/KebabJoy/Test-Guru/tree/7th_task')%>
  </div>
  <div>
    <a href="thinknetica.com">Учебный проект в онлайн-школе Thinknetica </a> <!--можно в хэлпер засунуть, но в задании этого не сказано-->
    <p>для создания и прохождения тестов</p>
  </div>
</div>

