<tr>
  <td>
    <%= questions.id %>
  </td>
  <td>
    <%= link_to questions.body, admin_question_path %>
  </td>
  <td>
    <%= button_to 'Delete', admin_question_path(questions), method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>

