<h1>Tricky tests</h1>

<%= link_to 'New Test', new_admin_test_path %>

<table class="table">
  <tr>
    <th class="sort-by-title pointer">
      Title
      <%= octicon 'arrow-up', class: 'text-success' %>
      <%= octicon 'arrow-down', class: 'hide text-success' %>
    </th>
    <th>Level</th>
    <th>Author</th>
    <th>Questions</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render @tests %>
</table>
